<section class="page-main__bottom-section">
    <h2 class="visually-hidden">Product section</h2>               
    <div class="page-main__bottom-section-item biggest">
        <a href="https://alinaiv.com/collections/skhb77/">
            <picture>
                <img src="./img/Collection SKHB77.jpg" alt="Collection SKHB77 picture">
            </picture>
            <div class="item-overlay">
                <div class="item-overlay__caption">
                    <h3>Collection SKHB77</h3>
                    <p>classic hats, felt hats, handmade hats, headwear</p>  
                </div>
                <span class="page-main__bottom-section-item__line-decoration"></span>                          
            </div>                        
        </a>
    </div>
    <div class="page-main__bottom-section-item">
        <a href="https://alinaiv.com/collections/ma0299/">
            <picture>
                <img src="./img/Collection MA0299.jpg" alt="Collection MA0299 picture">
            </picture>
            <div class="item-overlay">
                <div class="item-overlay__caption">
                    <h3>Collection MA0299</h3>
                    <p>handmade hats, haute couture hats, statement hats, wedding hats</p>  
                </div>
                <span class="page-main__bottom-section-item__line-decoration"></span>                          
            </div>                        
        </a>
    </div>
    <div class="page-main__bottom-section-item">
        <a href="https://alinaiv.com/collections/ga0054/">
            <picture>
                <img src="./img/Collection GA0054.jpg" alt="Collection GA0054 picture">
            </picture>
            <div class="item-overlay">
                <div class="item-overlay__caption">
                    <h3>Collection GA0054</h3>
                    <p>handmade hats, haute couture hats, statement hats</p>
                </div>
                <span class="page-main__bottom-section-item__line-decoration"></span>                            
            </div>                        
        </a>
    </div>
    <div class="page-main__bottom-section-item">
        <a href="https://alinaiv.com/collections/da0043/">
            <picture>
                <img src="./img/Collection DA0043.jpg" alt="Collection DA0043 picture">
            </picture>
            <div class="item-overlay">
                <div class="item-overlay__caption">
                    <h3>Collection DA0043</h3>
                    <p>classic hats, felt hats, haute couture hats</p>
                </div>
                <span class="page-main__bottom-section-item__line-decoration"></span>                            
            </div>                        
        </a>
    </div>
    <div class="page-main__bottom-section-item">
        <a href="https://alinaiv.com/collections/ba7700/">
            <picture>
                <img src="./img/Collection BA7700.jpg" alt="Collection BA7700 picture">
            </picture>
            <div class="item-overlay">
                <div class="item-overlay__caption">
                    <h3>Collection BA7700</h3>
                    <p>classic hats, haute couture hats, statement hats</p> 
                </div>
                <span class="page-main__bottom-section-item__line-decoration"></span>                           
            </div>                        
        </a>
    </div>
    <div class="page-main__bottom-section-item scroll-to-top--indicator">
        <a href="https://alinaiv.com/collections/sf0068/">
            <picture>
                <img src="./img/Collection SF0068.jpg" alt="Collection SF0068 picture">
            </picture>
            <div class="item-overlay">
                <div class="item-overlay__caption">
                    <h3>Collection SF0068</h3>
                    <p>felt hats, headwear</p>
                </div>
                <span class="page-main__bottom-section-item__line-decoration"></span>                            
            </div>                        
        </a>
    </div>       
</section>